@model Employee


<h1>@Model.Name</h1>

<h2>@Model.Salary</h2>

<h2>@Model.Address</h2>
<h2>@Model.ImageURL</h2>
<h2>@Model.JobTitle</h2>
<h2>@Model.Department</h2>
<a asp-action="Index" style="font-size: 40px; font-weight: bold;">Back To List</a>
